/* add your CSS here */
*{
  box-sizing: border-box;
}
.stron{
  font-weight: bold;
}

img{
  border-radius: 5px;
  height: 100%;
}
body{
  background-color: #f8dab7;
  display: flex;
  place-content: center;
}

.container{
  max-width: 330px;
  border: 1px solid rgb(19, 211, 45);
  display: flex;
  flex-direction: column;
  place-content: center;
}
.text{

  background-color: rgba(249, 248, 240, 70%);
  border: 1px solid rgba(0,0,0,3.5%);
  max-width: 320px;
  overflow: clip;
  border-radius: 10px;
  padding: 1rem;
  margin: auto;
  
}
.center-box{
  align-self: center;
  transform: translate(0.3%);
}

.image{
  border: 0 solid white;
  text-align: center;
  padding: 1rem;
}
img{
  height: 200px;
  width: 300px;
}
.name{
  text-align: center;
  color: black;
  border: 0 solid white;
  /* padding: 5px 5px 5px 5px */
  padding: 1rem;
  font-size: 1.7rem;
  
}

ul{
  list-style-type: none;
  padding: 5px 5px 5px 5px;
}
